:root {
  --header-font: "Comico";
  --body-font: "Zodiak";
}

@font-face {
  font-family: "Comico";
  src: url("fonts/Comico-Regular.woff2") format("woff2"),
    url("fonts/Comico-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Zodiak";
  src: url("fonts/Zodiak-Black.woff2") format("woff2"),
    url("fonts/Zodiak-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Zodiak";
  src: url("fonts/Zodiak-BlackItalic.woff2") format("woff2"),
    url("fonts/Zodiak-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Zodiak";
  src: url("fonts/Zodiak-Bold.woff2") format("woff2"),
    url("fonts/Zodiak-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Zodiak";
  src: url("fonts/Zodiak-BoldItalic.woff2") format("woff2"),
    url("fonts/Zodiak-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Zodiak";
  src: url("fonts/Zodiak-Extrabold.woff2") format("woff2"),
    url("fonts/Zodiak-Extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Zodiak";
  src: url("fonts/Zodiak-ExtraboldItalic.woff2") format("woff2"),
    url("fonts/Zodiak-ExtraboldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Zodiak";
  src: url("fonts/Zodiak-Italic.woff2") format("woff2"),
    url("fonts/Zodiak-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Zodiak";
  src: url("fonts/Zodiak-Light.woff2") format("woff2"),
    url("fonts/Zodiak-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Zodiak";
  src: url("fonts/Zodiak-LightItalic.woff2") format("woff2"),
    url("fonts/Zodiak-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Zodiak";
  src: url("fonts/Zodiak-Regular.woff2") format("woff2"),
    url("fonts/Zodiak-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Zodiak";
  src: url("fonts/Zodiak-Thin.woff2") format("woff2"),
    url("fonts/Zodiak-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Zodiak";
  src: url("fonts/Zodiak-ThinItalic.woff2") format("woff2"),
    url("fonts/Zodiak-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Zodiak";
  src: url("fonts/Zodiak-Variable.woff2") format("woff2 supports variations"),
    url("fonts/Zodiak-Variable.woff2") format("woff2-variations"),
    url("fonts/Zodiak-Variable.woff") format("woff");
  font-weight: 100 1000;
  font-style: normal;
}

@font-face {
  font-family: "Zodiak";
  src: url("fonts/Zodiak-VariableItalic.woff2")
      format("woff2 supports variations"),
    url("fonts/Zodiak-VariableItalic.woff2") format("woff2-variations"),
    url("fonts/Zodiak-VariableItalic.woff") format("woff");
  font-weight: 100 1000;
  font-style: italic;
}
