.home .left-col, .home .right-col {
  display: grid;
  gap: 20px;
}

.home .left-col {
  grid-template-rows: 2fr 1.5fr;
}

.home .right-col {
  grid-template-rows: 1fr 2fr;
}

.home .left-col > img, .home .right-col > img {
  height: 0;
  min-height: 100%;
  width: 100%;
  object-fit: cover;

  border-radius: 10px;
}